body {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #ffcc00;
    font-family: Arial;
}

header {
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.hide {
    display: none;
}