<!doctype html>
<html lang="en">
<title>Weather App</title>
<script src="{{ asset.url_for('main.js') }}"></script>
<link rel="stylesheet" href="{{ asset.url_for('styles.css') }}">

<body class="content">
<header>
  {% block header %}{% endblock %}
</header>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block content %}
{% endblock %}
</body>
</html>